@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
    color: #2e363e;
    font-family: "Inter", sans-serif; 
}

.main-screen-friends{
    padding: 100px var(--horizontal-space);
    height: 100vh;       
}

.main-screen{
    padding: 60px var(--horizontal-space);
    height: 1000vh;       
}

.main-screen-find{
    padding: 100px var(--horizontal-space);
    height: 1000vh;       
}

.more-screen{
    padding: 80px var(--horizontal-space);
    height: 1000vh;       
}
