#chat-screen{
    background-color: #abc1d1;
    height: 120vh;
}


#chat-screen .status-bar{
    z-index:2;
    background-color: #abc1d1;
}

#chat-screen .alt-header{
    z-index: 1;
    background-color: #abc1d1;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from{        
        transform: translateX(-30px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

@keyframes fadeIn--own {
    from{        
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.main-chat{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 0px var(--horizontal-space); 
}

.chat__timestamp{
    color: white;
    background-color: #92a4b2;
    padding: 7px 15px;
    border-radius: 25px;
    font-size: 13px;
    margin-bottom: 25px;
}

.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 25px;    
    animation: fadeIn 1s linear forwards;     
    flex-direction: row;
}
.message-row:last-child{
    opacity: 0;
    animation: fadeIn 1s linear forwards;     
    animation-delay: 4s;
}

.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 12px;
}

.message__author{
    opacity: 0.8;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}

.message__bubble{
    background-color: white;
    padding: 10px 13px;
    border-radius: 12px;
    margin-right: 5px;
    margin-top: 3px;
    border-top-left-radius: 0px;    
}
.message__bubble-img{
    background-color:rgba(0, 0, 0, 0);    
}
.message__bubble-img img{
    height: 150px;
    width: 150px;
}
.message__bubble-img2 img{
    height: 150px;
    width: 200px;
}

.message__info{
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
    
}


.message__time{
    opacity: 0.8;
    font-size: 15px;
    position:relative;
}
.message__time2{
    opacity: 0.8;
    font-size: 15px;
    position:absolute;
    margin: 60px 0px 0px 110px;
}

.message__time span{
    position:absolute;
    bottom:0;
    padding: 0px 5px;
}
.message__time2 span{
    position:absolute;
    bottom:0;
    padding: 0px 5px;
}



.message-row--own{
    justify-content: flex-end;  
    opacity: 0;       
    animation: fadeIn--own 1s linear forwards; 
    animation-delay: 2s;
}
.message-row--own .message__time{
    margin-left: -40px;
    margin-top: -15px;
}



.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}



.reply {
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child{
    width: 7%;
    padding-left:13px;
    
}
.reply .reply__column:last-child{
    width: 88%;
    position: relative;
}



.reply input{
    height: 30px;
    width: 100%;
    padding: 17px;
    border: var(--main-border);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right: 1px;
    top: 2px;
}

.reply__column:last-child > i{
    right: 40px;
    top: 10px;
    font-size: 23px;
}

.reply__column button{
    background-color: var(--yellow);
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 3px;

}

.reply__column button:focus,
.reply__column button:active{
    outline: none;
}

.reply i{
    opacity: 0.5;
}

.reply__column button i{
    opacity: 1;
}


.reply .reply__column:first-child{
    transition: opacity 1s ease-in-out;
}

.reply .fa-smile-wink,
.reply button {
    transition: all 0.3s ease-in-out;
}



.reply:focus-within .reply__column:first-child{
  opacity: 0;
  
}

.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  transform: translateX(-3px);
  
}

.reply input:focus{
    width: 93vw;
    transform:translateX(-10%) translateY(0px);
}
