body{
    position: relative;
}

.friends-display-link{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fafafaea;
    padding: 15px 0px;    
    font-size: 15px;
    position: absolute;
    top: 100px;        
}

.friends-display-link i{
    color: rgba(0, 0, 0, 0.2);
    margin: auto 10px;
    }

.friends-display-link i:nth-child(2){
    color: rgba(0, 0, 0, 0.2);
    margin:2.5px 10px auto 10px;
    }

.friends-screen{
    padding: 0px var(--horizontal-space);
}


.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
}


@keyframes hideSplashScreen{
    from{
        opacity:1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}


#splash-screen{
  
    padding: 0px var(--horizontal-space);
    
    background-color:#506bb6;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 3;

    font-size: 37px;
    color:whitesmoke;
    font-family: 'Sofia', cursive;

    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 1.5s ease-in-out forwards;
    animation-delay: 1s;
}

#splash-screen span{
    margin-left: -35px;
}

#splash-screen img{
    margin-left: -35px;
}

