#no-mobile{
    position: absolute;
    z-index: 99;
    height: 110vh;    
    width: 100vw;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    top: -90px;
    font-size: 35px;
    
    color: whitesmoke;
    font-family: 'Sofia', cursive;
}

@media screen and (max-width:600px){
    #no-mobile{
        display:none;
    }
}