.screen-header{       
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 40px var(--horizontal-space) 25px var(--horizontal-space);
    margin-bottom: 15px;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    Box-sizing:border-box; 
    font-family: 'Sofia', cursive;

}

.music-screen .screen-header {
    background-color: rgba(245, 245, 245, 0);
    color: #f5f5f5;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    
}
.music-screen .screen-header__icons{
   width: 33%;
   margin-right: auto;
   font-size: 25px;
}
.music-screen .screen-header__title{
    width: 33%;
    text-align: center;
    font-size: 27px;
}
.music-screen .screen-header__blank{
    width: 33%;      
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span{
   margin-left: 25px;
      
}

.screen-header__icons{
    position:relative;
}


.screen-header__icons .fa-music:hover{    
    animation: rainbowhover 5s ease-out infinite;
    cursor: pointer;
}



