.screen-header{       
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 40px var(--horizontal-space) 25px var(--horizontal-space);
    margin-bottom: 15px;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    Box-sizing:border-box; 
    font-family: 'Sofia', cursive;

}



.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span{
   margin-left: 25px;
      
}

.screen-header__icons{
    position:relative;
}



@keyframes rotateCog {
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }    
}

.screen-header__icons .fa-cog:hover{
    animation: rotateCog  2s linear infinite;
}