.user-component{
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-component,
.user-component__column{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position:relative;
}
.user-component__text .fa-caret-left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 78%;
    position:absolute;
    font-size: 30px;    
    opacity:0;    
}

.user-component__text:hover .fa-caret-left{
    opacity:1;    
}


.user-component__text{
    display: flex;
    margin-left: 90px;
    align-items: center;
    width: 100%;
    height: 50px;
    
    position:absolute;    
}
.user-component__text span{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 78%;
        position:absolute;
        font-size: 20px;    
        opacity:0;    
}
.user-component__text:hover span{  
    opacity:0.6;    
}

.user-component-friends .user-component__column:first-child{
    border-bottom: var(--main-border);
    padding-bottom: 20px;
}


.user-component-friends{
    justify-content: space-between;
    margin-top: 65px;
    margin-bottom: 20px;
}


.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}
.user-component__title {
    font-weight: 500;
    font-size: 20px;
    

}
.user-component__subtitle {
    margin-top: 5px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 20px;
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm{
    width: 60px;
    height: 60px;
    border-radius: 25px;
}


.user-component__column:last-child{
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time{
    margin-bottom: 10px;
    display: block;
}

.user-component__title--not-bold{
    font-weight: 400;
    width: 200px;
    position:Absolute;
    margin-left: -15px;

}

.user-component__text--chats .user-component__title--not-bold{
    font-weight: 400;
    width: 200px;
    position:Absolute;
    
    margin: -5px 0px 0px -5px;

}

.user-component__text--chats .user-component__subtitle{
    margin-left: -3px;
    margin-top: 20px;
    
}

.user-component__text--more .user-component__title{
    font-weight: 500;
    width: 200px;
    position:Absolute;
    
    margin: -5px 0px 0px -5px;

}

.user-component__text--more .user-component__subtitle{
    margin-left: -3px;
    margin-top: 20px;
    
}